{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	
	<div class="wrapper position-absolute top-50 start-50 translate-middle" style="width: 70%">
		<hr>
	<div class="container text-center">
	  <div class="row align-items-center">
	    <div class="col">
	      <h3>Latest subforums:</h3>
	      <center><div class="card" style="width: 18rem;">
			    {% if subforums %}
				  <ul class="list-group list-group-flush">
				  	{% for subforum in subforums %}
				    	<a href="/sub/{{subforum.sub_forum_id}}"><li class="list-group-item">{{subforum.sub_forum_name}}</li></a>
				    {% endfor %}
				  </ul>
				{% endif %}
			</div></center>
	    </div>
	    <div class="col">
	      <h3>Latest posts:</h3>
	      <center><div class="card" style="width: 18rem;">
	      	{% if posts %}
			  <ul class="list-group list-group-flush">
			  	{% for post in posts %}
			    	<a href="/viewpost?post={{post.id}}"><li class="list-group-item">{{post.post_title}}</li></a>
			    {% endfor %}
			  </ul>
			{% endif %}
			</div></center>
	    </div>
	  </div>
	</div>
	<hr>
		<a href="/addsub"><button type="button" class="btn btn-primary">Add subforum</button></a>
		<a href="/addpost"><button type="button" class="btn btn-primary">Add post</button></a>
		<hr>
		<form action="#" method="POST">
			<div class="input-group mb-3">
			  <span class="input-group-text" id="inputGroup-sizing-default">Find User/Subforum/Post</span>
				<select id="cars" name="obj_type" style="width: 10vh">
				  <option value="user">User</option>
				  <option value="subforum">Subforum</option>
				  <option value="post">Post</option>
				</select>
			  <input type="text" name="search_request" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="type here..." required="">
			  <button type="submit" class="btn btn-success">Find</button>
			</div>
		</form>
		{% if results %}
	    		<h1>Search results for "{{ query }}":</h1>
	    		{{ results }}
	    		<div class="card">
				  <div class="card-header">
				    Featured
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Special title treatment</h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
				</div>
	  	{% endif %}
	</div>
	
{% endblock %}

if cat_id == 'all' and request_query == '':
        items = Item.query.order_by(desc(Item.dateadded)).paginate(page=page, per_page=9)

    if cat_id != 'all' and request_query != '':
        items = Item.query.filter(Item.category_id == int(cat_id), Item.name.contains(request_query)).order_by(desc(Item.dateadded)).paginate(page=page, per_page=9)

    if cat_id == 'all' and request_query != ''